.CarsShowcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin-top: 2%;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carBox {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    margin: 2%;
    background-color: #f0f0f0;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  