.CarsShowcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed for your layout */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin between rows */
}

.carBox {
  width: 200px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  margin: 10px; /* Adjust margin between boxes */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.carImage {
  width: 180px; /* Set a fixed width */
  height: 120px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}
